<% Petition.translated_topics.map do |translated_topic, topic| %>

  <h2><%= translated_topic %></h2>

  <% topic_petitions = @petitions.select { |petition| petition.topic == topic } %> 

  <% if (topic_petitions.length >= 1) %>
    <table class="lbrd_topic">
      <thead>
        <tr>
          <th>Title</th>
          <th>Sponsor</th>
          <th>Signees</th>
        </tr>
      </thead>

      <tbody>
        <% topic_petitions.each do |petition| %>
          <tr>
            <td><%= link_to petition.title, "/"+petition.slug %></td>
            <td><%= petition.user.id %></td>
            <td><%= petition.signees.length %></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
  <% else %>
  <div class="lbrd_topic"> No Petitions Yet! </div>
  <% end %>
<% end %>