Coming Soon! <br>
- enable signing by category <br>
- upload data from web <br>
<br>


<h2>Admin Settings</h2>

<div>
  <table>

    <tr>
        <th>Petition Topic</th>
        <th>Enable Petition Creation and Editing</th>
        <th>Enable Petition Signing</th>
    </tr>

   
    
  </table>
</div>