Coming Soon! <br>
- enable signing by category <br>
- upload data from web <br>
<br>


<h2>Admin Settings</h2>

<div>
<h3>
Petition Signature Deadline: <%= @admin.closing_time.in_time_zone("America/Los_Angeles").to_fs(:db_with_tz) %>
</h3>
</div>
<br>

<div>
  <table>

    <tr>
        <th>Petition Topic</th>
        <th>Enable Petition Creation and Editing</th>
        <th>Enable Petition Signing</th>
    </tr>

   
    
  </table>
</div>