<h2>Admin Settings</h2>

<%= form_for @app_settings, url: admin_path do |f| %>    

<div class="field">
  <%= f.check_box :signatures_enabled %>
  <%= f.label :signatures_enabled, "Enable Signatures" %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>