/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}

footer {
  text-align: center;
}

body {
  font-family: 'Rubik';
  margin: 0;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; This fixes some stuff on mobile, but breaks desktop.*/
}

.title {
  font-family: 'Brandon Grotesque';
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0px;
}

.page_content {
  padding: 10px 20px;
  flex: 1 0 auto;
}

.banner_img {
  width: 500px;
  max-width: 50%;
  height: auto;
}

.top_bar {
background-color: #2889e1;
display: flex;
flex-wrap: wrap;
}

.top_bar * {
  margin: 5px 3px;
  padding: 3px 6px;
}

.login {
  margin-left: auto;
  margin-right: 0;
}

.top_bar a:link, .top_bar a:visited {
  background-color: #831416;
  color: white;
  text-decoration-line: none;
  font-family: 'Rubik';
}

.field {
  margin: 3px 0px;
}

.link-list {
  margin: 2px 0px;
  margin-bottom: 20px;
}

.signature-list {
 margin: 2px 0px;
}

.signature {
  margin-top: 2px 0px;
}

th,td {
  padding: 2px 5px;
  text-align: left;
}