// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.content {
    border: 2px solid rgb(154, 3, 3);
    border-radius: 5pt;
    padding: 10px 10px;
    margin: 10px -10px;
  }