<style>
#narrow {
  flex-grow: 1; 
  display: flex; 
  flex-direction: column;
  max-width: 1500px;
  align-self: center;
}

#welcome {
  flex-grow: 1
}

#tech-notes{
  margin-top: 20px;
}

.idx_banner_img {
  width: 500px;
  max-width: 50%;
  height: auto;
}

#front-table td{
  padding: 5px 5px;
}

</style>

<div class="logo">
  <%= image_tag("ASSU-Logo-Primary-RGB.png", :alt => "ASSU Logo Banner", :class => "idx_banner_img") %>
</div>

<div id="narrow">

  <div id="welcome">
    <h1 class="title">Welcome to the ASSU Petitioning Portal</h1> <br>
    We invite you to use this site to create and sign petitions for the <a href="https://assu.stanford.edu/elections/election-2022">2022 ASSU Election</a>.
    Based on your enrollment status, you may be able to run for specific elected offices and sign eligible petitions.
    Once you login, you can view your enrollment status in the “Voter Profile” tab. <br> <br>

    To create a petition, go to “My Petitions” and click on “New Petition.”
    Please make sure to complete all the required fields. <br> <br>

    To sign a petition, go to “All Petitions,” click on the petition you are interested in and press “Sign Petition.” <br> <br>

    To be placed on the ballot, candidates and slates must receive a minimum number of signatures: <br> <br>

    <table id="front-table">
      <thead>
        <tr>
          <th>Petition Type</th>
          <th>Signatures Needed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Executive Slate
          </td>
          <td>
            200 from undergraduates or graduate students
          </td>
        </tr>
        <tr>
          <td>
            Undergraduate Senator
          </td>
          <td>
            100 from undergraduate students
          </td>
        </tr>
        <tr>
          <td>
            Class President Slate
          </td>
          <td>
            100 from undergraduate students from enrollment class
          </td>
        </tr>
        <tr>
          <td>
            Graduate Student Councilor
          </td>
          <td>
            No signature threshold
          </td>
        </tr>
        <tr>
          <td>
            General Petitions
          </td>
          <td>
            5% of the student body for symbolic actions, 15% for referendums, recalls and amendments, 10% otherwise 
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div id="tech-notes">
    <h3>Technical Notes</h3>
    This site was developed by Tim Vrakas, a member of the <a href="https://assu.stanford.edu/gsc">Graduate Student Council</a>, 
    volunteering to help the <a href="https://assu.stanford.edu/elections/elections-commission">Elections Commission</a>.
    The site was built using <a href="https://rubyonrails.org/">Ruby on Rails</a>, a modern web framework. 
    It integrates into Stanford's SAML login system, and cross-references enrollment data to validate all signatures.
    <ul>
      <li>If you're interested in a job developing software to help the student body, join <a href="https://cardinallabs.stanford.edu/">Cardinal Labs!</a></li>
      <li>Please send all feeback to <a href="mailto:timv@assu.stanford.edu">timv@assu.stanford.edu</a>.</li>
      <li>If you've discovered a security vulnerability or data leak, please let us know! We will reward you with late night.</li>
    </ul>
  </div>

</div>